.dashboard-tableContainer-div{
    padding-bottom: 10px;
}

.vaccineissue-typical-content-div label{
    padding-right: 0px;
    font-size: 14;
    letter-spacing: 0.5px;
    display: inline-block;
    width: 170px;
    margin-left: 20px;
}

.vaccineissue-typical-content-div input[type=text]{
    height: 40px;
    width: 250px;
    font-size: 14px;
    margin-bottom: 10px;
}

.vaccineissue-typical-content-div input:focus {
    border: 1px solid #555;
    background-color: floralwhite;
  }

.vaccineissue-typical-content-div button{
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    font-weight: 300;
    transition-duration: 0.3s;
    background-color: gainsboro;
    border: none;
    margin-left: 20px;
}

.vaccineissue-typical-content-div button:hover {
    background-color: #4CAF50; 
    border: #4CAF50;
    color: white;
  }

.vaccineissue-typical-content-div {
    background-color: #ffffff;
    min-width: 850px;
    height: 100%;
    /* end */
    border-radius: 25px;
    margin-left: 0px;
}

.vaccineissue-typical-content-div>h2 {
    margin-left: 20px;
    color: #ff0000;
  }