.root {
    min-width: 300px;
}

.table-div {
    padding-left: 50px;
    padding-bottom: 50px;
    z-index: 10;
    overflow: auto;
    max-width: 100%;
}

.business-alert-div{
    padding-bottom: 20px;
}

.search-alert-div select, input{
    height: 40px;
    width: 150px;
    font-size: 14px;
}
