/* =========================== Admin page specific===================================== */
.admin-container {
    margin-right: 0px;
  }
  
  .admin-tableContainer-div {
    background-color: #ffffff;
    min-width: 850px;
    height: 100%;
    /* end */
    border-radius: 25px;
  }
  
  .admin-tableContainer-div>h2 {
    margin-left: 20px;
    color: #ff0000;
  }