/* =========================== Content container div ===================================== */

.container {
  padding: 1rem 40px;
  display: flex;
}

/* =========================== Nav visible link div ===================================== */
.nav-show {
  min-width: 250px;
  height: 100%;
  margin-right: 15px;
}

/* =========================== Sidebar div ===================================== */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  /* addition */
  background: transparent;
  border: none;
  outline: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: #000000;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  display: inline-block;
  /* rectify unknown margin and padding */
  margin-top: 0;
  padding-left: 0px;
}

.menuNav.showMenu {
  width: 100%;
  padding-top: 80px;
}

.menuNav a {
  display: block;
  padding: 10px 50px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}

.menuNav a:hover {
  color: #f89933;
}


.menuNav li:first-child {
  margin-top: 7rem;
}

/* =========================== dashboard page specific===================================== */
.dashboard-container-general {
  margin-left: 300px;
}

.dashboard-container-general>h1 {
  color: #000000;
  margin: 0px;
}

.dashboard-tableContainer-div {
  background-color: #ffffff;
  min-width: 850px;
  height: 100%;
  /* end */
  border-radius: 25px;
}

.dashboard-content-div {
  background-color: #ffffff;
  min-width: 850px;
  height: 100%;
  /* end */
  border-radius: 25px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.dashboard-tableContainer-div>h2 {
  margin-left: 20px;
  color: #ff0000;
}

.dashboardbusiness-img {
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

/* =========================== Home page specific===================================== */


.home-container {
  padding: 4rem;
  position: relative;
}

.home-public-header-div {
  /* center */
  display: table;
  margin: 0px auto 0px auto;
  /* end */
}

.home-public-header-div h1 {
  color: #7f7f7f;
}

.home-imgContainer-div {
  background-color: #ffffff;
  min-width: 450px;
  height: 260px;
  /* center */
  display: table;
  margin: 0px auto 0px auto;
  /* end */
  border-radius: 25px;
}

.home-tableContainer-div {
  background-color: #ffffff;
  min-width: 1200px;
  height: 100%;
  /* center */
  display: table;
  margin: 20px auto 0px auto;
  /* end */
  border-radius: 25px;
}

.home-tableContainer-div>h2 {
  margin-left: 20px;
  color: #ff0000;
}

.home-img {
  display: inline-block;
  margin-top: 55px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;

}

#images{
  text-align:center;
}

.toHide {
  display: none;
}

/* =========================== General div ================================== */

.account-typical-content-div {
  background-color: #ffffff;
  min-width: 850px;
  height: 100%;
  /* end */
  border-radius: 25px;
  margin-left: 20px;
}

.under-page-title-div {
  margin-bottom: 40px;
}

/* =========================== No Access Message ================================== */

.message-container{
  text-align: center;
  padding-top: 300px;  
  padding-left: 200px;
}