/* =========================== Content container div ===================================== */

.content-container {
  width: 100%;
  display: block;
  background-color: #000000;
  display: flex;
}

/* =========================== Sidebar div ===================================== */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  /* addition */
  background: transparent;
  border: none;
  outline: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: #ff0000;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  display: block;
  /* rectify unknown margin and padding */
  margin-top: 0;
  padding-left: 0px;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav a:link {
  display: block;
  padding: 10px 50px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

/* =========================== Main page specific===================================== */

.main-header {
  background-color: #f7f7f7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: #545454;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.main-public-inputs-div {
  background-color: #ffffff;
  width: 650px;
  height: 260px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 25px;
}

#enterLoc-img {
  display: inline-block;
}

#checkVaccCert-img {
  display: inline-block;
}

/* =========================== Main page specific end ================================== */

